button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgb(0 0 0 / 20%);
    overflow: hidden;
  }
  
  button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: white;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  button a {
    text-align: center;
    width: 100%;
    font-size: 1.125em;
    font-weight: 700;
    border-radius: 50%;
    letter-spacing: 0.3em;
    padding: 12px;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    color: black;
  }
  
  button:hover a {
    color: var(--blue-light);
    animation: scaleUp 0.8s infinite;
  }
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }