@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.container-form{
  box-shadow: 7px 7px 19px 0px rgb(0 0 0 / 30%);
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}
.container-contact{
  text-align: center;
  display: flex;
  width: 60%;
  border-radius: 8px 0 0 8px;
  flex-direction: column;
  align-items: center;
  background: var(--card-color);
}
.container-contact h1{
  font-size: 40px;
  text-align: center;
  color: var(--red-sweet);
  border-bottom: solid;
}
.container-contact-items{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container-contact p {
  color: var(--red-sweet);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-contact p span{
  font-weight: 900;
  margin-right: 36px;
}
.container-contact p svg{
  font-size: 28px;
  background-color: var(--color-fondo);
  padding: 16px;
  border-radius: 50%;
  color: var(--red-sweet);
  margin-right: 8px;
}


.section-form{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
@media (max-width:950px){
  .container-form{
    flex-direction: column;
    width: 90%;
  }
  .container-contact{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
  .container-contact p {
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 4px;
  }
  .container-contact h1 {
    font-size: 32px;
  }
  .container-contact p svg {
    font-size: 16px;
    padding: 12px;
  }
  .container-contact p span{
    margin-right: 0;
  }
  .container-contact-items{
    align-items: center;
    flex-direction: column;
  }
}