.container-section {
  margin: 30px;
}
.container-section h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.container-cards {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  justify-items: stretch;
}
