.container-section {
  margin: 30px;
}
.container-section h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.container-cards {
  display: grid;
  grid-auto-rows: 380px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  justify-items: stretch;
}
.card {
  display: flex;
  background: #e8e8e8;
  color: var(--color-fondo);
  font-weight: 400;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  transition: all .3s;
  box-shadow: 0px -1px 11px 6px rgba(0, 0, 0, 0.15);
}
.card:hover {
    transform: scale(0.9);
}
.card p, .card span{
    text-align: center;
}
.card span {
  padding-top: 8px;
  font-weight: bold;
}
.card button {
  color: rgb(9 9 9);
  margin: 0.7em 1.7em;
  font-size: 14px;
  border-radius: 0.5em;
  width: 50%;
  background: rgb(232 232 232);
  border: 1px solid rgb(232 232 232);
}

.card img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
/* BUTTON STYLES */
button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--color-fondo);
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
   }
   
   button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: white;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
   button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
   button a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: var(--fondo-about);
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   button:hover a {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
/* BUTTON STYLES */

button a {
  text-decoration: none;
  color: rgb(0 0 0);
}
