@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --color-fondo: #fefdff;
  --fondo-about: #343353;
  --card-color: #e8e8e8;
  --red-sweet: #ff4c61;
  --blue-light: #363673;
  --hover: #f2ca58;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: var(--color-fondo);
}
